// :root {
  // Color variables
  $white: #f8f8f8;
  $drkGray: #333;
  $medGray: #888;
  $lghtGray: #ddd;

  $teal: #1d8d8d;
  $drkTeal: #197474;
  $lightTeal: #1c9494;
  $navy: #1a215a;
  $success: #24814b;
  $alert: #ddad10;
  $error: #c0295b;
// }
