@import "../../../GlobalStyles/variables";
.toolbar {
  width: 100%;
  height: auto;
  padding: 0;

  .action-bar {
    border-bottom: 1px solid #333;

    .actions {
      .action {
        color: $teal;
      }
    }
  }
}
