@import "../../../GlobalStyles/variables";
:host {




  .generic-overlay {
    position: fixed;
    top: 0;
    left: 100vw;
    display: flex;
    width: 100vw;
    height: 100vw;
    background: $white;

    &.open {
      left: 0;
    }


    .head {}

    .body {
    }
  }
}
