@import "../../../GlobalStyles/variables";
:host {

  // background: rgba(0,0,0, 0.3);
  &:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: $drkGray;
    opacity: 0.7;
    animation: overlayBgFade 300ms ease-in-out 0 1 normal forwards;
  }

  .generic-overlay {
    position: fixed;
    top: 0;
    left: 100vw;
    display: flex;
    width: 100vw;
    height: 100vw;
    background: $white;

    &.open {
      animation: overlaySlideIn 300ms ease-in-out 0ms 1 normal forwards;

      &.closing {
        animation: overlaySlide 300ms ease-in-out 0ms 1 reverse backwards;
      }
    }


    .head {}

    .body {
    }
  }
}

@keyframes overlaySlide {
  from {left: 100vw};
  to {left: 0};
}

@keyframes overlaySlideIn {
  from {left: 100vw};
  to {left: 0};
}

@keyframes overlaySlideOut {
  from {left: 0};
  to {left: 100vw};
}

@keyframes overlayBgFade {
  from {opacity: 0;}
  to {opacity: 0.7;}
}
