<div class="generic-overlay h-100 w-100 d-flex flex-column" [ngClass]="{'open': open, 'closing': closing}">
  <div class="head p-3 d-flex align-items-center justify-content-end">
    <h4 class="w-100">
      <ng-container *ngIf="header; else NoHeader">{{header}}</ng-container>
      <ng-template #NoHeader>Header Not Provided</ng-template>
    </h4>
    <div class="close align-self-start pointer" (click)="closeOverlay()"><i class="far fa-times-circle fa-md"></i></div>
  </div>
  <div class="body w-100 h-100 d-flex justify-content-center">
    <ng-container *ngIf="bodyTemplate; else NoBodyTemplate">
      <ng-container *ngTemplateOutlet="bodyTemplate"></ng-container>
    </ng-container>
    <ng-template #NoBodyTemplate>
      <div class="">
        NO BODY TEMPLATE PROVIDED
      </div>
    </ng-template>
  </div>
</div>



